@use '../../../_css/queries.scss' as *;

.card {
  position: relative;
  background-color: var(--color-dark-50);
  min-height: 360px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.5s;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  z-index: 0;
  transform: scale(1.1);
  transition: 0.5s;
}

@media (hover: none) and (pointer: coarse) {
  .card::before {
    filter: blur(0);
    -webkit-filter: blur(0);
}
}

.card > * {
  position: relative;
  z-index: 1;
}

.card:hover {
  transform: scale(1.1);
}

.card:hover::before {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.title {
  border-radius: 10px;
  padding: 16px;
  width: 100%;
  text-align: center;
  background-color: var(--theme-bg);
}
