@use '../../../_css/queries.scss' as *;


.nav {
  display: flex;
  gap: calc(var(--base) / 4) var(--base);
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  visibility: visible;
}

@media (max-width: 768px) {
  .nav {
    height: 0;
    overflow: hidden;
    flex-direction: column !important;
    align-items: center;
    justify-content: flex-start;
    background: var(--theme-bg);
    transition: height 0.5s ease;
    width: 100%;
    white-space: normal;
    flex-wrap: nowrap;
    gap: 1.5rem;
  }

  .nav.open {
    height: 200px;
  }
}


[data-theme='light'] {
  .account img {
    filter: invert(0);
  }
}

[data-theme='dark'] {
  .account img {
    filter: invert(1);
  }
}
